@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-3">Welcome to Gaming Store</h1>

<div class="table-responsive">
    <table class="table table-striped-columns table-striped">
      <thead>
        <tr>
          <th scope="col">Product Type</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Xbox Games</td>
          <td>$49.99</td>
        </tr>
        <tr>
          <td>Arcade</td>
          <td>$5.00/hour</td>
        </tr>
      </tbody>
    </table>
</div>