@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-3">Welcome to Gaming Store</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Type</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Xbox Games</td>
                <td>$49.99</td>
                <td>Available</td>
            </tr>
            
            <tr>
                <td>PS5 Games</td>
                <td>$39.99</td>
                <td>Available</td>
            </tr>

            <tr>
                <td>Arcade</td>
                <td>$5.00/hour</td>
                <td>Available</td>
            </tr>

            <tr>
                <td>Puzzle</td>
                <td>$9.99</td>
                <td>Available</td>
            </tr>


        </tbody>
    </table>
</div>

<h2>About Gaming Store</h2>
<p class="text-capitalize fst-italic">
    LOREM IPSUM GENERATOR<br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum.
</p>